@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to TeachHub</h1>
<p>Learn about building Web apps with ASP.NET Core.</p>
@if (User.Identity.IsAuthenticated)
{
<h3>
    <span class="navbar-text">Hello, @User.Identity.Name!</span>
</h3>
}

