@{
    ViewData["Title"] = "Video Upload";
}

<h2>Upload Video</h2>

<form id="uploadForm">
    <input type="file" id="videoFile" accept="video/*" />
    <button type="button" id="uploadButton">Upload Video</button>
</form>

<div id="uploadProgress"></div>

<script src="~/js/firebase/firebase-config.js"></script> <!-- Firebase config file -->
<script src="~/js/firebase/upload-video.js"></script>   <!-- Upload video script -->
